@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Paytone+One&family=Rubik+Bubbles&family=Source+Code+Pro:wght@500&display=swap');

html,
body {
  margin:0;
  padding: 0;
  height:100vh;
  width: 100vw;
  position: absolute;
  font-family: 'Source Code Pro', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
