html,
body {
  margin:0;
  padding: 0;
  height:100vh;
  width: 100vw;
  position: absolute;
  font-family: "Lucida Console", "Courier New", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
